{% extends 'base.html.twig' %}

{% block title %}Galerie des Peintures
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/gallery/gallery.css') }}">
{% endblock %}

{% block body %}
	{% include '_navbar.html.twig' %}

	<div class="container">
		{% if 'ROLE_PEINTRE' in user.roles %}
			<a href="{{ path('app_gallery_add') }}" class="add-artwork-btn">
				<img src="{{ asset('icons/add-circle.png') }}">
				<div>
					Ajouter un tableau
				</div>
			</a>
		{% endif %}
		<div class="gallery">
			{% for artwork in artworks %}
				<div class="artwork-card">
					{% if 'ROLE_PEINTRE' in user.roles %}
						<div class="icon-container">
							<a href="{{ path('app_gallery_edit', { 'id': artwork.id }) }}" data-toggle="tooltip" data-placement="left" title="Modifier le tableau">
								<img src="{{ asset('icons/brush.png') }}" alt="Edit"/>
							</a>
						</div>
						<div class="icon-container" style="margin-top: 35px">
							<a href="{{ path('app_gallery_delete', { 'id': artwork.id }) }}" data-toggle="tooltip" data-placement="left" title="Supprimer le tableau">
								<img src="{{ asset('icons/trash.png') }}" alt="Delete" style="width: 25px; height: 25px;"/>
							</a>
						</div>
						<div class="icon-container" style="margin-top: 75px">
							<a href="{{ path('app_generate_certificat', {'idPeinture': artwork.id}) }}" target="_blank" data-toggle="tooltip" data-placement="left" title="Générer un certificat">
								<img src="{{ asset('icons/certificat.png') }}" alt="Certificat" style="width: 25px; height: 25px;"/>
							</a>
						</div>
					{% else %}
						{% set vendu = false %}
						{% for vente in mesVentes %}
							{% if vente.idPeinture == artwork.id %}
								{% set vendu = true %}
							{% endif %}
						{% endfor %}
						{% if vendu %}
							<div class="prize-container">
								Possédé
							</div>
						{% else %}
							<div class="icon-container">
								<a href="{{ path('app_gallery_buy', { 'idPeinture': artwork.id }) }}">
									<img src="{{ asset('icons/acheter.png') }}" alt="Acheter" style="width: 25px; height: 25px;"/>
								</a>
							</div>
						{% endif %}
					{% endif %}

					<div class="image-container">
						<img src="{{ asset('image/tableau-exemple.png') }}" alt="Image du tableau"/>
					</div>
					<div class="details">
						<h2>{{ artwork.title }}</h2>
						<div class="id">N°{{ artwork.id }}</div>
						<div class="info">
							<div>{{artwork.method}}</div>
							<div>{{ artwork.height }}
								x
								{{ artwork.width }}
								cm</div>
						</div>

						<hr>

						<div class="date">{{ artwork.createdAt|date('F Y') }}</div>
						<div class="description">{{ artwork.description }}</div>
					</div>
					{% if vendu is not defined or vendu == false %}
						<div class="prize-container">
							{{ artwork.prize }}
							€
						</div>
					{% endif %}

				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
