{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/nav.css') }}">
{% endblock %}

<div class="sidebar">
	<div class="user-info">
		<div class="avatar"></div>
		<span class="user-name">{{user_name}}</span>
	</div>
	<nav>
		<div class="menu">
			<div class="menu-item">
				<img src="{{ asset('icons/category-2.png') }}" alt="Category"/>
				<a href="{{ path('app_dashboard') }}">Tableau de bord</a>
			</div>
			<div class="menu-item ">
				<img src="{{ asset('icons/people.png') }}" alt="People"/>
				<a href="#">Clients</a>
			</div>
			<div class="menu-item ">
				<img src="{{ asset('icons/gallery.png') }}" alt="Gallery"/>
				<a href="{{ path('app_gallery') }}">Tableaux</a>
			</div>
			<div class="logout">
				<a href="{{ path('app_logout') }}">Déconnexion</a>
			</div>
		</div>
	</nav>
</div>
