{% extends 'base.html.twig' %}

{% block title %}Tableau de bord
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/dashboard.css') }}">
{% endblock %}

{% block body %}
	{% include '_navbar.html.twig' %}

	<div class="container">
		<div class="header">
			<h1>Juillet 2024</h1>
		</div>
		<div class="dashboard">
			<div class="left-panel">
				<div class="card large">
					<div class="card-content">
						<img src="{{ asset('icons/image-placeholder.png') }}"/>
						<div class="title-1">
							Chiffre d'affaire
						</div>
						<div class="value">
							12 789 €
						</div>
					</div>
				</div>
			</div>
			<div class="right-panel">
				<div class="card">
					<div class="card-content">
						<img src="{{ asset('icons/image-placeholder-2.png') }}"/>
						<div class="title-2">
							Nombre de ventes
						</div>
						<div class="value">
							15
							<div>+</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-content">
						<img src="{{ asset('icons/image-placeholder-2.png') }}"/>
						<div class="title-2">
							Acquéreurs
						</div>
						<div class="value">
							4
							<div>+</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-content">
						<img src="{{ asset('icons/image-placeholder-2.png') }}"/>
						<div class="title-2">
							Taux d'évolution</div>
						<div class="value">
							+11,5
							<div>%</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-content">
						<img src="{{ asset('icons/image-placeholder-2.png') }}"/>
						<div class="title-2">
							Certificats générés
						</div>
						<div class="value">
							12
							<div>+</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
