{% extends 'base.html.twig' %}

{% block title %}Clients
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/clients/detail.css') }}">
{% endblock %}

{% block body %}
	{% include '_navbar.html.twig' %}

	<div class="container">
		<div class="info_client">
			<h1>{{ client.firstname }} {{ client.lastname }}</h1>
			<div class="info-box">
				<p>
					<b>Adresse email :</b>
					{{ client.email }}</p>
				<p>
					<b>Téléphone :</b>
					{{ client.phone }}</p>
				<p class="address">
					<b>Adresse postale :</b>
					{{ client.adresse }}<br>{{ client.complement }}<br>{{ client.postalCode }} {{ client.town }}
				</p>
				<div></p>
			</div>
		</div>
		<div class="stats">
			<div class="card">
				<div class="label">Tableaux</div>
				<div class="number">{{ nbPeintures }}</div>
			</div>
			<div class="card" style="margin: 0 10px">
				<div class="label">Certificats</div>
				<div class="number">{{ nbCertificats }}</div>
			</div>
			<div class="card">
				<div class="label">Argents dépensés</div>
				<div class="number">{{ chiffreAffaire }}€</div>
			</div>
		</div>
	</div>
	<div class="gallery">
		{% for artwork in peintures %}
			<div class="artwork-card">
				{% set succes = false %}
				{% for certificat in dataCertificats %}
					{% if certificat.idPeinture == artwork.id %}
						{% set succes = true %}
					{% endif %}
				{% endfor %}

				{% if succes %}
					<div class="icon-container">
						<a href="{{ path('app_generate_certificat', {'idPeinture': artwork.id}) }}" target="_blank">
							<div>Ouvrir le certificat</div>
						</a>
					</div>
				{% endif %}

				<div class="image-container">
					<img src="{{ asset('image/tableau-exemple.png') }}" alt="Image du tableau"/>
				</div>
				<div class="details">
					<h2>{{ artwork.title }}</h2>
					<div class="id">N°{{ artwork.id }}</div>
					<div class="info">
						<div>{{artwork.method}}</div>
						<div>{{ artwork.height }}
							x
							{{ artwork.width }}
							cm</div>
					</div>

					<hr>

					<div class="date">{{ artwork.createdAt|date('F Y') }}</div>
					<div class="description">{{ artwork.description }}</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>{% endblock %}
