{% extends 'base.html.twig' %}

{% block title %}Clients
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/clients/list_clients.css') }}">
{% endblock %}

{% block body %}
	{% include '_navbar.html.twig' %}

	<div
		class="container">
		{# <div class="alert">
			Attention! Des utilisateurs n'ont pas encore validé leur profil
		</div> #}
		<a href="{{ path('app_add_client') }}" class="add-client-btn">
			<img src="{{ asset('icons/add-circle.png') }}">
			<div>
				Ajouter un client
			</div>
		</a>
		<div class="client-count">{{ nbClients }} clients</div>
		<div
			class="client-list">
			{% for client in clients %}
				<div class="client">
					<div class="client-info">
						<div class="client-name">{{ client.firstname ~ ' ' ~ client.lastname }}</div>
						<p>{{ client.email }}</p>
					</div>
					<span class="status verified">
						<img src="{{ asset('icons/add-circle.png') }}">
						<div>
							Vérifié
						</div>
					</span>
					<span class="status artwork">
						<div>
							{{ client.town }}
						</div>
					</span>
					<div class="btn-edit">
						<a href="{{ path('app_detail_client', { 'email': client.email }) }}" data-toggle="tooltip" data-placement="left" title="Modifier le client">
							<img src="{{ asset('icons/brush.png') }}" alt="Edit"/>
						</a>
					</div>

				</div>
			{% endfor %}

		</div>
	</div>
</div>{% endblock %}
